<template>
  <div>
    <p>Current count (Vuex): <strong>{{ currentCount }}</strong></p>
    <v-Btn v-test="{ id: 'increment' }" class="ma-2" color="info" @click.prevent="increment">Increment</v-Btn>
    <v-Btn v-test="{ id: 'reset' }" class="ma-2" color="info" @click.prevent="reset">Reset</v-Btn>
  </div>
</template>

<script lang="ts">
import { Action, Getter } from 'vuex-class';
import { Component, Vue } from 'vue-property-decorator';
import Test from '@/directives/test.ts';

const namespace: string = 'counter';

@Component({
  directives: {
    Test,
  },
})
export default class Counter extends Vue {

  @Getter('currentCount', { namespace })
  private currentCount!: number;
  @Action('increment', { namespace })
  private incrementCounter: any;
  @Action('reset', { namespace })
  private resetCounter: any;

  private increment() {
    this.incrementCounter();
  }
  private reset() {
    this.resetCounter();
  }
}
</script>
